html, body{
  max-width: 100%;
  width: 100%;
  overflow-x: hidden;
  position: relative;
  @apply bg-background;
}

.scale {
  @apply scale-100 opacity-100 -translate-y-0 ease-in-out duration-500;
}
.not_scale {
  @apply scale-75 opacity-50 translate-y-20 ease-in-out duration-500;
}
.slide_left {
  @apply opacity-100 translate-x-0 duration-500 ease-in-out delay-100;
}
.not_slide_left {
  @apply opacity-50 -translate-x-40 ease-in-out duration-500;
}
.slide_right {
  @apply opacity-100 translate-x-0 duration-500 ease-in-out delay-100;
}
.not_slide_right {
  @apply opacity-50 translate-x-40 ease-in-out duration-500;
}
.fade {
  @apply opacity-100 duration-500 ease-in-out delay-100;
}
.not_fade {
  @apply opacity-50 duration-500 ease-in-out;
}
